@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: montserrat;
}
nav {
    position: fixed;
    z-index: 1000;
    background: white;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid black;
}
label.logo {
    display: inline;
    color: black;
    font-size: 20px;
    line-height: 80px;
    margin-top: 0;
    position: inherit;
}
.pic {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 7px;
}
.App nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.App nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    padding-right: 20px;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: orange;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
.App nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding-left: 30px;
    }
    .App nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-top: 0;
    }

    .App ul {
        position: fixed;
        width: 100%;
        height: 200ch;
        background: #393e46;
        top: 66px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .App nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .App nav ul li a {
        font-size: 20px;
        color: white;
    }
    ul.active {
        left: 0;
    }
}
